@font-face {
    font-family: MomcakeBold;
    src: url(assets/fonts/Momcake-Bold.otf);
  }
  @font-face {
    font-family: MomcakeRegular;
    src: url(assets/fonts/Momcake-Thin.otf);
  }

.grow:hover{
    transform: scale(1.2);
}

body{
    background-color: black;
    font-family: "MomcakeBold";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    filter: brightness(0.7) sepia(30%) blur(5px);
  }

section{
    height: 100vh;
    padding: 5em 0;
    display: flex;
    flex-direction: column;
    color: white;
    scroll-margin-top: 2em;
}

.mobileNav{
    display: none;
}

.desktopNav{
    display: relative;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav{
    z-index: 10;
    top: 0;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 15em;
    width: 100%;
    background-color: rgba(255,255,255,1);
}

#toTop {
    display: block; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 25px; /* Place the button at the bottom of the page */
    right: 25px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    color: white; /* Text color */
    background-color: rgba(0,0,0,0.3);
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 50px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    transition: 250ms all ease-in-out;
    backdrop-filter: blur(20px);
  }
  
  #toTop:hover {
      color: white;
    background-color: red; /* Set a background color */
    border-radius: 0;
  }

.logo{
    width: 150px;
}

.navLinks li {
    display: inline-block;
    padding: 0px 0.5em;
    list-style: none;
}

.navLinks li a {
    transition: all 0.2s ease-in-out;
    color: red;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    padding: 0.5em 1em;
    border-radius: 50px;
}

.navLinks li a:hover {
    border-radius: 0;
    background-color: #ff0000;
    color: white;
    padding: 0.5em 1em;
}

.greeting-div{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 5px black;
}

.greeting{
    font-size: 5em;
    margin-bottom: 0.2em;
}

.typewrite{
    color: #ff0000;
    text-decoration: none;
    display: inline-block;
}

.video-container {
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: -100;
}

.motto{
    font-size: 1.5em;
}

.location{
    color: #ff0000;
}

.location:hover{
    color: white;
    font-weight: bold;
}

.more{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scroll{
    width:fit-content;
    font-size: 1.2em;
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    padding: 0.5em 1em;
    border-radius: 50px;
    background: none;
}

.fa-chevron-down{
    width:fit-content;
    transition: all 0.2s ease-in-out;
    font-size: 1.2em;
}

.scroll:hover{
    background-color: #ff0000;
    color: white;
    text-shadow: none;
    padding: 0.5em 1em;
    border-radius: 0;
}

.two{
    font-size: 1.5em;
    color: black;
    background-color: rgba(255,255,255,1);
    position: relative;
    align-items: center;
}

.two h1 {
    margin-bottom: 0.5em;
}

.two p{
    color: gray;
    font-size: 0.7em;
    margin-bottom: 2em;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 95%;
}

.card {
    font-size: 1em;
    height: 200px;
    text-align: center;
    border-radius: 50px;
    transition: 250ms all ease-in-out;
    display: flex;
    justify-content: center;
    align-items: top;
    padding: 0.8em 0;
}

.card:hover{
    border-radius: 0px;
    transform: scale(1.05);
    color: white;
    background: #ff0000;
    list-style: none;
    cursor: pointer;
    border: none;
}

.card .content{
    width: 80%;
}

.card .cardTitle{
    font-size: 1em;
    color: black;
    transition: 250ms all ease-in-out;
}

.card:hover .cardTitle{
    color: white;
}

.cardIcon {
    width: 2.5em;
    margin: 0.6em;
    transition: 250ms all ease-in-out;
}

.card:hover .cardIcon{
    filter: invert(95%) sepia(0%) saturate(18%) hue-rotate(312deg) brightness(104%) contrast(104%);
}

.swiperSection{
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(80px) brightness(0.5);
  font-size: 1.5em;
    color: white;
    position: relative;
    align-items: center;
    height: fit-content;
}

.swiperSection h1{
  margin-bottom: 1em;
}

.swiper {
  width: 100%;
  color: white;
  overflow-x: none;
}

.swiper-slide img {
  border-radius: 18px;
  height: fit-content;
  width: 530px !important;
}

@media only screen and (max-width: 1604px) {
  .swiper-slide img {
    width: 500px !important;
  }
}
@media only screen and (max-width: 1510px) {
  .swiper-slide img {
    width: 480px !important;
  }
}
@media only screen and (max-width: 1446px) {
  .swiper-slide img {
    width: 450px !important;
  }
}
@media only screen and (max-width: 1360px) {
  .swiper-slide img {
    width: 420px !important;
  }
}
@media only screen and (max-width: 1274px) {
  .swiper-slide img {
    width: 390px !important;
  }
}
@media only screen and (max-width: 1176px) {
  .swiper-slide img {
    width: 360px !important;
  }
}
@media only screen and (max-width: 1088px) {
  .swiper-slide img {
    width: 330px !important;
  }
}
@media only screen and (max-width: 992px) {
  .swiper-slide img {
    width: 300px !important;
  }
}
@media only screen and (max-width: 908px) {
  .swiper-slide img {
    width: 280px !important;
  }
}
@media only screen and (max-width: 854px) {
  .swiper-slide img {
    width: 250px !important;
  }
}
@media only screen and (max-width: 768px) {
  .swiper-slide img {
    width: 350px !important;
  }
}
@media only screen and (max-width: 698px) {
  .swiper-slide img {
    width: 320px !important;
  }
}
@media only screen and (max-width: 641px) {
  .swiper-slide img {
    width: 260 !important;
  }
}
@media only screen and (max-width: 634px) {
  .swiper-slide img {
    width: 200 !important;
  }
}
@media only screen and (max-width: 620px) {
  .swiper-slide img {
    width: 100% !important;
  }
}


.swiper-wrapper{
  align-items: center;
}

.swiper-button-prev{
  opacity: 0.5;
  color: red;
  font-weight: bold;
  padding: 2em 1em;
  border-radius: 50px;
  transition: all 250ms ease-in-out;
}

.swiper-button-prev:hover{
  opacity: 1;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 2em 1em;
  border-radius: 0px;
}

.swiper-button-next{
  opacity: 0.5;
  color: red;
  font-weight: bold;
  padding: 2em 1em;
  border-radius: 50px;
  transition: all 250ms ease-in-out;
}

.swiper-button-next:hover{
  opacity: 1;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 2em 1em;
  border-radius: 0px;
}

.swiper-scrollbar{
  display: none;
}

.swiper-pagination-bullet{
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(359deg) brightness(100%) contrast(104%);
}

.three{
    font-size: 2em;
    color: white;
    background-color: rgba(0,0,0,0.5);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(80px) brightness(0.5);
}

.wrap{
    width: 60%;
}

.wrap h1{
    margin-bottom: 1em;
    text-align: center;
}

.wrap p{
    font-size: 0.8em;
}

.four{
    height: fit-content;
    font-size: 1.5em;
    color: black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,0.8);
    backdrop-filter: blur(80px);
    padding: 0;
    scroll-margin-top: 5em;
}

.button{
    border: 0;
    width: fit-content;
    font-size: 1.2em;
    text-decoration: none;
    color: red;
    transition: all 0.2s ease-in-out;
    padding: 0.5em 1em;
    border-radius: 50px;
}

.button:hover{
    font-weight: bold;
    background-color: red;
    text-shadow: none;
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 0px;
}

#contact {
    width: 100%;
}

iframe {
    top: 0;
    width: 100%;
    height: 500px !important;
}

.iframe .map{
    border: none;
}

.custom{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    margin: 5em 0;
}

.footer{
    height: fit-content;
    color: black;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: 1em;
    bottom: 0em;
    padding: 2em 5em;
    background-color: white;
    color: black;
}

.left-footer{
    width: 45%;
    align-items: center;
    justify-content: flex-start;
    margin: auto 0px;
    font-size: 1.5em;
}

.center-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: flex-start;
    margin: auto 0;
    font-size: 1.5em;
}

.footer-logo{
    width: 7em;
}

.right-footer{
    width: 45%;
    align-items: center;
    justify-content: flex-end;
    margin: auto 0px;
    font-size: 1.5em;
}

@media only screen and (max-width: 768px) {

    #myVideo {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
      }

    nav{
        z-index: 10;
        top: 0;
        height: fit-content;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5em 2em;
        width: 100%;
        background-color: rgba(255,255,255,1);
    }

    #toTop {
        position: fixed; /* Fixed/sticky position */
        bottom: 20px; /* Place the button at the bottom of the page */
        right: 20px; /* Place the button 30px from the right */
        z-index: 10; /* Make sure it does not overlap */
        border: none; /* Remove borders */
        outline: none; /* Remove outline */
        color: white; /* Text color */
        background-color: rgba(0,0,0,0.3);
        cursor: pointer; /* Add a mouse pointer on hover */
        padding: 15px; /* Some padding */
        border-radius: 50px; /* Rounded corners */
        font-size: 20px; /* Increase font size */
        transition: 250ms all ease-in-out;
        backdrop-filter: blur(20px);
      }
      
      #toTop:hover {
        color: white;
        background-color: red; /* Set a background color */
        border-radius: 0;
      }

      .navLinks li {
        padding: 0;
    }

    .one{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .greeting-div{
        display: flex;
        padding-top: 5em;
        height: fit-content;
    }
    
    .greeting{
        font-size: 3.5em;
        margin-bottom: 0.2em;
    }

    .motto{
        font-size: 1.5em;
    }

    .two{
        height: fit-content;
        font-size: 1.5em;
        color: black;
        backdrop-filter: blur(20px);
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 95%;
        text-decoration: none;
    }

    .card{
        margin: 0.5em 0.5em;
        border: 1px solid rgba(0,0,0,0.1);
        height: 220px;
        align-items: center;
    }
    
    .cardIcon {
        width: 2em;
        align-self: center;
        
    }

    .three{
        font-size: 1.7em;
        padding: 3em 2em;
        height: fit-content;
    }

    .four{
        height: fit-content;
        font-size: 1.2em;
        color: black;
    }

    .button{
        color: red;
        border: 1px solid red;
        transition: all 0.2s ease-in-out;
        padding: 0.5em 1em;
        margin: 0.8em 0;
        border-radius: 50px;
    }
    
    .button:hover{
        font-weight: bold;
        background-color: red;
        text-shadow: none;
        color: white;
        border: none;
        padding: 0.5em 1em;
        border-radius: 0px;
    }

    .footer{
        height: fit-content;
        align-items: center;
        flex-direction: column;
        width: 100%;
        font-size: 0.8em;
        padding: 2em 0;
    }

    .left-footer{
        order: 2;
        width: fit-content;
        margin: 0.3em 0;
        font-size: 1.8em;
    }
    
    .center-footer{
        order: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1em auto;
    }
    
    .footer-logo{
        width: 10em;
    }
    
    .right-footer{
        order: 3;
        width: fit-content;
        align-items: center;
        justify-content: center;
        margin: 0.3em 0;
        font-size: 1.8em;
    }

  }

  @media only screen and (max-width: 600px) {
    .desktopNav{
        display: none;
    }
    
    .header {
        position: fixed;
        display: flex;
        justify-content: space-between;
        padding: 0 1em;
        top: 0;
        left: 0;
        height: 5em;
        width: 100%;
        overflow: hidden;
        background-color: white;
        transition: all 250ms ease-in-out;
        transition-delay: 250ms;
        z-index: 100;
      }

      .header .logo{
        position: absolute;
        margin: 1.5em 0em 0em 1em;
      }

      .header .burger-container {
        position: absolute;
        display: inline-block;
        height: 5em;
        width: 5em;
        right: 1em;
        cursor: pointer;
        transform: rotate(0deg);
        transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        -webkit-tap-highlight-color: transparent;
      }
      .header .burger-container #burger {
        width: 2em;
        height: 100%;
        position: relative;
        display: block;
        margin: -4px auto;
        top: 50%;
      }
      .header .burger-container #burger .bar {
        width: 100%;
        height: 2px;
        display: block;
        position: relative;
        background: red;
        transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        transition-delay: 0s;
      }
      .header .burger-container #burger .bar.topBar {
        transform: translateY(0px) rotate(0deg);
      }
      .header .burger-container #burger .bar.btmBar {
        transform: translateY(6px) rotate(0deg);
      }
      .header .icon {
        display: inline-block;
        position: absolute;
        height: 100%;
        line-height: 50px;
        width: 50px;
        height: 50px;
        text-align: center;
        color: red;
        font-size: 22px;
        left: 50%;
        transform: translateX(-50%);
      }
      .header .icon.icon-bag {
        right: 0;
        top: 0;
        left: auto;
        transform: translateX(0px);
        transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        transition-delay: 0.65s;
      }
      .header ul.menu {
        position: relative;
        display: block;
        margin-top: 55%;
        width: 100%;
        padding: 0px 48px 0;
        list-style: none;
      }
      .header ul.menu li.menu-item {
        margin-top: 5px;
        transform: scale(1.15) translateY(-30px);
        opacity: 0;
        transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
      }
      .header ul.menu li.menu-item:nth-child(1) {
        transition-delay: 0.49s;
      }
      .header ul.menu li.menu-item:nth-child(2) {
        transition-delay: 0.42s;
      }
      .header ul.menu li.menu-item:nth-child(3) {
        transition-delay: 0.35s;
      }
      .header ul.menu li.menu-item:nth-child(4) {
        transition-delay: 0.28s;
      }
      .header ul.menu li.menu-item:nth-child(5) {
        transition-delay: 0.21s;
      }
      .header ul.menu li.menu-item:nth-child(6) {
        transition-delay: 0.14s;
      }
      .header ul.menu li.menu-item:nth-child(7) {
        transition-delay: 0.07s;
      }
      .header ul.menu li.menu-item a {
        display: block;
        position: relative;
        color: red;
        font-family: "MomcakeBold";
        font-weight: 100;
        font-size: 1.7em;
        line-height: 2.35;
        width: 100%;
        transition: all 0.2s ease-in-out;
        padding: 0em;
        margin: 0.8em 0;
        border-radius: 50px;
      }

      .header ul.menu li.menu-item a:hover {
        background-color: red;
        text-shadow: none;
        color: white;
        border: none;
        padding: 0.5em 1em;
        border-radius: 0px;
      }
      .active{
        background-color: red;
        text-shadow: none;
        color: white;
        border: none;
        padding: 0.5em 1em;
        border-radius: 0px;
      }
      .header.menu-opened {
        height: 100%;
        background-color: white;
        transition: all 0.3s ease-in, background 0.5s ease-in;
        transition-delay: 0.25s;
      }
      .header.menu-opened .burger-container {
        transform: rotate(90deg);
      }
      .header.menu-opened .burger-container #burger .bar {
        transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        transition-delay: 0.2s;
      }
      .header.menu-opened .burger-container #burger .bar.topBar {
        transform: translateY(4px) rotate(45deg);
      }
      .header.menu-opened .burger-container #burger .bar.btmBar {
        transform: translateY(3px) rotate(-45deg);
      }
      .header.menu-opened ul.menu li.menu-item {
        transform: scale(1) translateY(0px);
        opacity: 1;
      }
       .header.menu-opened ul.menu li.menu-item:nth-child(1) {
        transition-delay: 0.27s;
      }
       .header.menu-opened ul.menu li.menu-item:nth-child(2) {
        transition-delay: 0.34s;
      }
       .header.menu-opened ul.menu li.menu-item:nth-child(3) {
        transition-delay: 0.41s;
      }
       .header.menu-opened ul.menu li.menu-item:nth-child(4) {
        transition-delay: 0.48s;
      }
       .header.menu-opened ul.menu li.menu-item:nth-child(5) {
        transition-delay: 0.55s;
      }
       .header.menu-opened ul.menu li.menu-item:nth-child(6) {
        transition-delay: 0.62s;
      }
       .header.menu-opened ul.menu li.menu-item:nth-child(7) {
        transition-delay: 0.69s;
      }
       .header.menu-opened .icon.icon-bag {
        transform: translateX(75px);
        transition-delay: 0.3s;
      }

    .mobileNav{
      display: block;
    }

    .one{
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 0;
      padding: 0;
  }

  .greeting-div{
      display: flex;
      padding-top: 10em;
      height: fit-content;
  }
  
  .greeting{
      width: 80%;
      text-align: center;
      font-size: 4em;
      margin-bottom: 0.5em;
  }

  .motto{
      width: 60%;
      text-align: center;
      font-size: 1.3em;
  }

  .card .cardTitle{
    font-size: 0.8em;
  }
  
  .wrap{
    width: 100%;
  }
  }